<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Home</title>
</head>
<body>
	<h2 th:text="'Hello, ' + ${appName} + '!'">Greetings</h2>
	<h2>Currency List:</h2>
	<div th:each="currency: ${list}">
		<p>-------------------------------------------------</p>
		<p th:text="'name: ' + ${currency.name}">name</p>
		<p th:text="'created by: ' + ${currency.createdby}">created by</p>
		<p th:text="'created on: ' + ${currency.createdon}">created on</p>
		<p>-------------------------------------------------</p>
	</div>
</body>
</html>